* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-top {
  display: flex;
  justify-content: flex-end;
  background-color: black;
  padding: 5px;
}

.navbar-top ul {
  margin-right: 15%;
  padding: 5px;
}

.navbar-top ul li {
  padding: 0 5px;
}

.navbar-top ul li > a {
  color: #989898;
  font-size: 12px;
  text-decoration: none;
}

.navbar-top ul li > a:hover {
  text-decoration: underline;
  color: white;
}

.navbar-top ul,
.navbar-top ul li {
  display: inline;
}

.navbar-top ul li > i {
  padding: 0 5px;
  color: #039CFF;
}

.navbar-top ul li:first-child i {
  transform: rotate(100deg);
}

.navbar-bottom {
  display: flex;
  justify-content: center;
  align-items: baseline;
  background-color: black;
}

.navbar-bottom ul,
.navbar-bottom ul li {
  display: inline;
}

.navbar-bottom ul {
  padding: 20px;
}

.navbar-bottom ul li {
  letter-spacing: 1px;
  color: white;
  padding: 21px 15px;
}

.navbar-bottom ul li:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.navbar-bottom .logo {
  height: 30px;
  width: 120px;
}

.navbar-bottom .logo img {
  width: 100%;
  height: 100%;
}

.navbar-bottom ul li > i {
  padding: 0 5px;
  color: #989898;
}

.jumbotron {
  height: 463px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-image: url("https://www.painterartist.com/static/ptr/product_content/painteressentials/7/hero-painteressentials-7.jpg");
}

.jumbotron .description {
  display: flex;
  flex-direction: column;
  color: white;
  letter-spacing: 1px;
}

.jumbotron .description h1 {
  font-size: 30px;
  padding: 5px;
}

.jumbotron .description h2 {
  font-size: 22px;
  padding: 5px;
}

.jumbotron .description ul {
  font-size: 17px;
  list-style-type: none;
}

.jumbotron .description ul li {
  padding: 5px;
}

.jumbotron .description ul li > i {
  color: #989898;
}

.jumbotron .description a {
  width: 230px;
  padding: 15px;
  background-color: #666666;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.jumbotron .description a .jumbo_button {
  font-size: 12px;
  padding-right: 20px;
  border-right: 1px solid white;
  color: white;
}

.jumbotron .description a .jumbo_button span {
  display: block;
  width: 125px;
}

.jumbotron .description a i {
  color: white;
}

.card {
  height: 400px;
  width: 300px;
  background-color: black;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1E1E1E;
}

footer .sponsor {
  display: flex;
  align-items: center;
  width: 300px;
  justify-content: space-between;
  padding: 10px;
}

footer .logo_sponsor {
  padding: 0 5px;
}

footer .footer-info {
  display: flex;
}

footer .footer-info ul {
  list-style-type: none;
  padding: 10px;
}

footer .footer-info ul li {
  display: inline;
}

footer .footer-info ul li > a {
  color: #989898;
  text-decoration: none;
  margin: 0 5px;
}

footer .footer-info ul li > a:hover {
  color: white;
  text-decoration: underline;
}

footer .footer-info p {
  color: white;
  padding: 10px;
}

