* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-top {
  display: flex;
  justify-content: flex-end;
  background-color: black;
  padding: 5px;
}

.navbar-top ul {
  margin-right: 15%;
  padding: 5px;
}

.navbar-top ul li {
  padding: 0 5px;
}

.navbar-top ul li > a {
  color: #989898;
  font-size: 12px;
  text-decoration: none;
}

.navbar-top ul li > a:hover {
  text-decoration: underline;
  color: white;
}

.navbar-top ul,
.navbar-top ul li {
  display: inline;
}

.navbar-top ul li > i {
  padding: 0 5px;
  color: #039CFF;
}

.navbar-top ul li:first-child i {
  transform: rotate(100deg);
}

.navbar-bottom {
  display: flex;
  justify-content: center;
  align-items: baseline;
  background-color: black;
}

.navbar-bottom ul,
.navbar-bottom ul li {
  display: inline;
}

.navbar-bottom ul {
  padding: 20px;
}

.navbar-bottom ul li {
  letter-spacing: 1px;
  color: white;
  padding: 21px 15px;
}

.navbar-bottom ul li:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.navbar-bottom .logo {
  height: 30px;
  width: 120px;
}

.navbar-bottom .logo img {
  width: 100%;
  height: 100%;
}

.navbar-bottom ul li > i {
  padding: 0 5px;
  color: #989898;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1E1E1E;
}

.sponsor {
  display: flex;
  align-items: center;
  width: 300px;
  justify-content: space-between;
}

.footer-info {
  display: flex;
}

.footer-info ul {
  list-style-type: none;
  padding: 10px;
}

.footer-info ul li {
  display: inline;
}

.footer-info ul li > a {
  color: #989898;
  text-decoration: none;
  margin: 0 5px;
}

.footer-info ul li > a:hover {
  color: white;
  text-decoration: underline;
}

.footer-info p {
  color: white;
  padding: 10px;
}

