footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1E1E1E;

    .sponsor {
        display: flex;
        align-items: center;
        width: 300px;
        justify-content: space-between;
        padding: 10px;
    }

    .logo_sponsor {
        padding: 0 5px;
    }

    .footer-info {
        display: flex;

        ul {
            list-style-type: none;
            padding: 10px;
        }

        ul li {
            display: inline;
        }

        ul li>a {
            color: $nav_foot_link_color;
            text-decoration: none;
            margin: 0 5px;
            &:hover {
                color: $nav_foot_hover_link;
                text-decoration: underline;
            }
        }

        p {
            color: white;
            padding: 10px;
        }
    }
}
