.jumbotron {
    height: 463px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url('https://www.painterartist.com/static/ptr/product_content/painteressentials/7/hero-painteressentials-7.jpg');

    .description {
        display: flex;
        flex-direction: column;
        color: white;
        letter-spacing: 1px;

        h1 {
            font-size: 30px;
            padding: 5px;
        }
        h2 {
           font-size: 22px;
           padding: 5px;
       }
       ul {
           font-size: 17px;
           list-style-type: none;
       }
       ul li {
           padding: 5px;
       }
       ul li>i {
           color: #989898;
       }

       a {
            width: 230px;
            padding: 15px;
            background-color: #666666;
            text-decoration: none;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            .jumbo_button {
                font-size: 12px;
                padding-right: 20px;
                border-right: 1px solid white;
                color: white;
                span {
                    display: block;
                    width: 125px;
                }
            }

            i {
                color: white;
            }

       }
    }
}

.card {
    height: 400px;
    width: 300px;
    background-color: black;
}
